.card{
    width: 50%;
    border: none;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
}

.card a{
    color: black;
    text-decoration: none;
    width: 100%;
}

.card img{
    height: 8vh;
}

.card span{
    font-weight: bold;
    margin-left: 10px;
    margin-right: 25px
}

.is-online {
    border: 3px solid green;
}






