<div class="card" *ngIf="member">
    <a routerLink="/profile-page/{{member.userName}}">
        <div class="card-left">
            <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.nickName}}" class="rounded-circle">
            <span>{{member.nickName}}</span>
        </div>
    </a>
    <div class="card-right">
        <button (click)="addFollow(member)">Follow</button>
        <button (click)="deleteFollow(member)">Unfollow</button>
        <button routerLink="/messages" [queryParams]="{user: this.member.userName}">Send message</button>
    </div>
</div>