<div class="card" *ngIf="post">
    <div class="card-header">
        <img src="{{post.authorPhotoUrl}}" alt="Profile Picture" class="card-img rounded-circle">
        <span class="fw-bold me-1">{{post.authorNickname}}</span>
        @{{post.authorUsername}}
    </div>
    <div class="card-body">
      <p>{{post.content}}</p>
    </div>
    <div class="card-footer">
        <button class="fa fa-comment btn" routerLink="/post/{{post.id}}"> {{post.commentCount}}</button>
        <button class="fa fa-thumbs-up btn" (click)="likePost()" [style.color]="post.hasLiked ? 'green' : ''"> {{post.likedByCount}}</button>
        <button class="fa fa-thumbs-down btn" (click)="dislikePost()" [style.color]="post.hasDisliked ? 'red' : ''"> {{post.dislikedByCount}}</button>
    </div>
  </div>
  