<div class="full-width">
    <div style="width: 18%; float: left;">
        <ul>
            <!-- will change it later. It will return other dto so ifs will disappear-->
            <li *ngFor="let chat of chats" (click)="setChattingWithUsername(chat)" (click)="this.currentConversation?.loadMessages()">
                <img *ngIf="chat?.senderUsername == this.username; else senderPhoto" src="{{chat?.recipientPhotoUrl}}" alt="">
                <ng-template #senderPhoto>
                    <img src="{{chat?.senderPhotoUrl}}" alt="">
                </ng-template>
                <div>
                    <h2 *ngIf="chat?.senderUsername == this.username; else senderUsername">{{chat?.recipientUsername}}</h2>
                    <ng-template #senderUsername>
                        <h2>{{chat?.senderUsername}}</h2>
                    </ng-template>
                    <h3>
                       {{chat?.senderUsername}}: {{ chat?.content }}  
                    </h3>
                </div>
            </li>
        </ul>
    </div>
    <div style="width: 80%; float: left" >
        <app-conversation [username]="username" [chattingWithUsername]="chattingWithUsername"></app-conversation>
    </div>
</div>

