.dropdownButton img {
    max-width: 40px;
    max-height: 40px;
}

.dropdownButton {
    display: flex;
    align-items: center;
}

.dropdownButton-text {
    margin-left: 10px;
    font-size: 16px;
    text-align: left;
}

.dropdownButton-nickname {
    font-weight: bold;
}

.dropdownButton:hover {
    color: white;
}

.dropdownButton:hover img {
    border: 1px solid white;
}

.navbar {
    min-height: 7vh;
}
