<label>profile picture</label>
    <app-avatar-uploader [member]='member'></app-avatar-uploader>
<form *ngIf="member" #editForm="ngForm" (ngSubmit)="updateMember()">
    <label>nickname</label>
    <input type="text" [(ngModel)]="member.nickName" name="nickName" class="form-control">  
        <label>city</label>
        <input type="text" [(ngModel)]="member.city" name="city" class="form-control">    
        <label>country</label>
        <input type="text" [(ngModel)]="member.country" name="country" class="form-control">      
        <label>description</label>
        <textarea type="text" [(ngModel)]="member.description" name="description" class="form-control" rows="6"></textarea>
        <button type="submit" [disabled]="!editForm.dirty" class="btn btn-success col-12 mt-5" >Update Profile</button>
</form>   


<!-- TODO: photos were in relationship with users before. Now they have a relation with posts -->
<!-- <div *ngIf="member" class="photoGallery">
    <div *ngFor="let photo of member.photos">
        <div class="container" (click)="removePhoto.click()">
            <img src="{{photo.url}}" alt="user's photo" class="img-thumbnail mb-1 w-15">
            <i class="fa fa-trash fa-3x" aria-hidden="true"></i>
            <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                <button class="btn btn-sm" (click)="deletePhoto(photo.id)" [disabled]="photo.isProfilePicture" #removePhoto>Delete</button>
            </span>
        </div>
    </div>
</div> -->
