<div class="row justify-content-center">
    <div class="col-4">
        <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
            <h1 class="text-center text-primary">Sign up</h1>
                <app-text-input [formControl]="$any(registerForm.controls['username'])" [label]="'Username'"></app-text-input>  
                <app-text-input [formControl]="$any(registerForm.controls['password'])" [label]="'Password'" [type]="'password'"></app-text-input>  
                <app-text-input [formControl]="$any(registerForm.controls['confirmPassword'])" [label]="'Confirm Password'"></app-text-input>  
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Register</button>
                <button class="btn" type="button" routerLink="">Cancel</button>
            </div>
        </form>
    </div>
</div>

<!-- remove later-->
<p> Form value {{registerForm.value | json}}</p>
<p> Form status {{registerForm.status | json}}</p>