<div class="row" *ngIf="member">
    <div class="col-md-3">
        <div ng2FileDrop
             [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
             (fileOver)="fileOverBase($event)"
             [uploader]="uploader">
             <!--  hiding input and invoking it's file upload function in an image, using template variable -->
             <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.nickName}}" (click)="fileInput.click()" class="rounded-circle">
             <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
                  <!-- clearing the value to make selecting the same fire fire the change event every time -->
                  <input type="file" #fileInput ng2FileSelect [uploader]="uploader" onclick="this.value=null;" />
             </span>
        </div>
    </div>
</div>