<img src="{{member?.photoUrl || './assets/user.png'}}">


<tabset>
    <tab heading="Data">
        <p>{{member?.nickName}}</p>
        <p>@{{member?.userName}}</p>
        <p>{{member?.accountCreationDate}}</p>
        <p>{{member?.age}}</p>
        <p>{{member?.city}}</p>
        <p>{{member?.country}}</p>
        <p>{{member?.description}}</p>
        <p>{{member?.gender}}</p>
        <p>{{member?.lastActive}}</p>
    </tab>
    <tab heading="Photos">
        <div *ngFor="let photo of member?.photos">
            <img src="{{photo.url}}">
        </div>
    </tab>
</tabset>