<div *ngIf="member">
    <img src="{{member.photoUrl || './assets/user.png'}}">
    <tabset>
        <tab heading="Data">
            <p>{{member.userName}}</p>
            <p>@{{member.nickName}}</p>
            <p>{{member.age}}</p>
            <p>{{member.city}}</p>
            <p>{{member.country}}</p>
            <p>{{member.description}}</p>
            <p>{{member.gender}}</p>
            <p>{{member.accountCreationDate | date: 'dd MMM yyyy'}}</p>
            <!-- using angular-ecmascript-intl for now, but i will change it later because it shows weird statuses like "in 1 week" instead of "1 week ago"-->
            <p>{{member.lastActive | intlRelativeTime}}</p>
        </tab>
        <tab heading="Photos">
            <div *ngFor="let photo of member?.photos">
                <img src="{{photo.url}}">
            </div>
        </tab>
        <tab heading="Followers" (selectTab)="loadFollowers()">
            <div *ngFor="let member of followers">
                <app-member-card [member]="member"></app-member-card>
            </div>
            <div class="d-flex justify-content-center" *ngIf="pagination">
                <pagination [boundaryLinks]="true" 
                            [totalItems]="pagination.totalItems"
                            [itemsPerPage]="pagination.itemsPerPage"
                            [maxSize]="10"
                            [(ngModel)]="pagination.currentPage"
                            (pageChanged)="followersPageChanged($event)"
                            previousText="&lsaquo;"
                            nextText="&rsaquo;" 
                            firstText="&laquo;" 
                            lastText="&raquo;">
                </pagination>
            </div>
        </tab>
        <tab heading="Following" (selectTab)="loadFollowing()">
            <div *ngFor="let member of following">
                <app-member-card [member]="member"></app-member-card>
            </div>
            <div class="d-flex justify-content-center" *ngIf="pagination">
                <pagination [boundaryLinks]="true" 
                            [totalItems]="pagination.totalItems"
                            [itemsPerPage]="pagination.itemsPerPage"
                            [maxSize]="10"
                            [(ngModel)]="pagination.currentPage"
                            (pageChanged)="followingPageChanged($event)"
                            previousText="&lsaquo;"
                            nextText="&rsaquo;" 
                            firstText="&laquo;" 
                            lastText="&raquo;">
                </pagination>
            </div>
        </tab>
    </tabset>
</div>

